<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bestiary</title>

    <link rel="stylesheet" href="styles/main_objs.css">
    <link rel="stylesheet" href="styles/style.css">

</head>

<body>
    
    <form class="bestiary" method="post">

        <span class="bestiary_main_text">Bestiary</span>

        <div class="cards">

            <div class="iron_man card">

                <div class="hero_img_div">

                    <img class="hero_img" src="https://upload.wikimedia.org/wikipedia/uk/1/16/%D0%97%D0%B0%D0%BB%D1%96%D0%B7%D0%BD%D0%B0_%D0%BB%D1%8E%D0%B4%D0%B8%D0%BD%D0%B0_%D0%9A%D0%92%D0%9C.png">

                </div>

                <div class="stats">

                    <span class="alias">Name: Iron Man</span><br>
                    <span class="attack">Attack: 85</span><br>
                    <span class="defense">Defense: 90</span><br>
                    <span class="card_cost">Cost: 4</span><br>
                    <span class="descr">Description:<br><span class="descr">A wealthy American business magnate, playboy, philanthropist, 
                    inventor and ingenious scientist, Anthony Edward "Tony" Stark suffers a severe chest injury during a kidnapping. 
                    When his captors attempt to force him to build a weapon of mass destruction, 
                    he instead creates a mechanized suit of armor to save his life and escape captivity. Later, Stark develops his suit, 
                    adding weapons and other technological devices he designed through his company, Stark Industries. He uses the suit 
                    and successive versions to protect the world as Iron Man. Although at first concealing his true identity, 
                    Stark eventually publicly reveals himself to be Iron Man.</span></span><br>

                </div>

            </div>

            <div class="spider_man card">

                <div class="hero_img_div">

                    <img class="hero_img" src="https://lh3.googleusercontent.com/proxy/D9rdKvFUDa2cuyBV3jOO6HvjdPvd29GGVyzgdd_KBcGetwDY3a__3LBt0Ka5vTAFBxPQEVk4Z_JPrSV9zuP5XnwXD_xVqq5hx4pyrM6lmoLpOqKuPcGMNjk">

                </div>

                <div class="stats">

                    <span class="alias">Name: Spider Man</span><br>
                    <span class="attack">Attack: 75</span><br>
                    <span class="defense">Defense: 80</span><br>
                    <span class="card_cost">Cost: 3</span><br>
                    <span class="descr">Description:<br><span class="descr"></span>Spider-Man is the alias of Peter Parker, 
                    an orphan raised by his Aunt May and Uncle Ben in New York City after his parents Richard 
                    and Mary Parker died in a plane crash. Lee and Ditko had the character deal with the struggles of adolescence 
                    and financial issues, and accompanied him with many supporting characters, such as J. Jonah Jameson, Harry Osborn, 
                    Max Modell, romantic interests Gwen Stacy and Mary Jane Watson, and foes such as Doctor Octopus, 
                    the Green Goblin and Venom. His origin story has him acquiring spider-related abilities 
                    after a bite from a radioactive spider; these include clinging to surfaces, superhuman strength and agility, 
                    and detecting danger with his "spider-sense." He then builds wrist-mounted "web-shooter" devices that shoot artificial spider-webbing of his own design.</span></span><br>

                </div>

            </div>

            <div class="super_man card">

                <div class="hero_img_div">

                    <img class="hero_img" src="https://static.wikia.nocookie.net/superman/images/b/b1/Superman_Action_976_Gary_Frank.png/revision/latest/scale-to-width-down/288?cb=20170501140424">

                </div>

                <div class="stats">

                    <span class="alias">Name: Super Man</span><br>
                    <span class="attack">Attack: 100</span><br>
                    <span class="defense">Defense: 100</span><br>
                    <span class="card_cost">Cost: 6</span><br>
                    <span class="descr">Description:<br><span class="descr"></span>Sent as a baby to Earth from the dying planet Krypton, 
                    Kal-El was adopted by Martha and Jonathan Kent of Smallville, Kansas. Growing up as Clark Kent, 
                    he devoted his life to helping others with the abilities he developed from Earth's sun. Moving to Metropolis, 
                    he became Superman, while still maintaining his secret identity as Clark Kent, who works at the Daily Planet newspaper.</span></span><br>

                </div>

            </div>

            <div class="thor card">

                <div class="hero_img_div">

                    <img class="hero_img" src="https://static.wikia.nocookie.net/outlier-battles/images/c/ca/Thor-AOU-Render.png/revision/latest/scale-to-width-down/340?cb=20180605073900">

                </div>

                <div class="stats">

                    <span class="alias">Name: Thor</span><br>
                    <span class="attack">Attack: 90</span><br>
                    <span class="defense">Defense: 90</span><br>
                    <span class="card_cost">Cost: 5</span><br>
                    <span class="descr">Description:<br><span class="descr"></span>Thor Odinson is the Asgardian God of Thunder, 
                    the former king of Asgard and New Asgard, and a founding member of the Avengers. When his irresponsible and 
                    impetuous behavior reignited a conflict between Asgard and Jotunheim, Thor was denied the right to become king, 
                    stripped of his power, and banished to Earth by Odin. While exiled on Earth, Thor learned humility, 
                    finding love with Jane Foster, and helped save his new friends from the Destroyer sent by Loki. 
                    Due to his selfless act of sacrifice, Thor redeemed himself in his father's eyes and was granted his power once more, 
                    which he then used to defeat Loki's schemes of genocide.</span></span><br>

                </div>

            </div>
            
            <div class="hulk card">

                <div class="hero_img_div">

                    <img class="hero_img" src="https://static.wikia.nocookie.net/heroes-and-villain/images/f/fc/AoU_Hulk_01.png/revision/latest?cb=20181015193439">

                </div>

                <div class="stats">

                    <span class="alias">Name: Hulk</span><br>
                    <span class="attack">Attack: 90</span><br>
                    <span class="defense">Defense: 75</span><br>
                    <span class="card_cost">Cost: 4</span><br>
                    <span class="descr">Description:<br><span class="descr"></span>The Hulk (real name Robert Bruce Banner) 
                    is a superhero from Marvel Comics who transforms from a man to a dangerous creature of rage and destruction. 
                    Hulk has a human side and this separates him from the more monstrous opponents such as Abomination or the Leader - 
                    Hulk is often confused and alone in the world and wants to be left alone yet is forever hounded by heroes and villains alike, 
                    this forces Hulk to fight and this only serves to make him angrier and stronger.</span></span><br>

                </div>

            </div>

            <div class="capt_america card">

                <div class="hero_img_div">

                    <img class="hero_img" src="https://static.wikia.nocookie.net/disney/images/f/fa/Captain-America-AOU-Render.png/revision/latest?cb=20150208173400">

                </div>

                <div class="stats">

                    <span class="alias">Name: Captain America</span><br>
                    <span class="attack">Attack: 85</span><br>
                    <span class="defense">Defense: 95</span><br>
                    <span class="card_cost">Cost: 5</span><br>
                    <span class="descr">Description:<br><span class="descr"></span>Captain America is the alter ego of Steve Rogers, 
                    a frail young artist enhanced to the peak of human perfection by an experimental "super-soldier serum" 
                    after joining the military to aid the United States government's efforts in World War II. Near the end of the war, 
                    he was trapped in ice and survived in suspended animation until he was revived in modern times. 
                    Although Captain America often struggles to maintain his ideals as a man out of his time, 
                    he remains a highly respected figure in his community, which includes becoming the long-time leader of the Avengers.</span></span><br>

                </div>

            </div>

            <div class="capt_marvel card">

                <div class="hero_img_div">

                    <img class="hero_img" src="https://static.wikia.nocookie.net/p__/images/4/4d/Captain_Marvel_Render.png/revision/latest?cb=20190306213828&path-prefix=protagonist">

                </div>

                <div class="stats">

                    <span class="alias">Name: Captain Marvel</span><br>
                    <span class="attack">Attack: 100</span><br>
                    <span class="defense">Defense: 100</span><br>
                    <span class="card_cost">Cost: 6</span><br>
                    <span class="descr">Description:<br><span class="descr"></span>Carol Danvers, also known as Captain Marvel, 
                    is a former United States Air Force pilot who, upon being exposed to the energy of the Tesseract via the destruction 
                    of the Light-Speed Engine, obtained cosmic powers. She was made into a Kree-human hybrid via the blood transfusion from Yon-Rogg, 
                    while having all of her old memories removed, turning her into the Kree's weapon and a member of Starforce. 
                    During their Kree-Skrull War, Danvers returned to Earth and began recalling her past, with help from Nick Fury and Maria Rambeau. 
                    Danvers had then also discovered that Yon-Rogg and the Kree Empire had been manipulating her for years, 
                    learning from Talos that the Skrulls were merely seeking to find a new home. With this information, 
                    Danvers unlocked her true powers and defeated the Kree invasion onto Earth that was being led by Ronan the Accuser, 
                    before setting off out to the far reaches of the galaxy to finish what her late mentor Mar-Vell had previously started.</span></span><br>

                </div>

            </div>

            <div class="thanos card">

                <div class="hero_img_div">

                    <img class="hero_img" src="https://static.wikia.nocookie.net/marvel/images/3/34/Thanos_Endgame_Render.png/revision/latest?cb=20190625134606&path-prefix=ru">

                </div>

                <div class="stats">

                    <span class="alias">Name: Thanos</span><br>
                    <span class="attack">Attack: 100</span><br>
                    <span class="defense">Defense: 100</span><br>
                    <span class="card_cost">Cost: 6</span><br>
                    <span class="descr">Description:<br><span class="descr"></span>Thanos is a fictional supervillain appearing in American comic books 
                    published by Marvel Comics. He was created by writer-artist Jim Starlin, and made his first appearance in The Invincible Iron Man #55 (cover dated February 1973). 
                    An alien warlord from the moon Titan, Thanos is regarded as one of the most powerful beings in the Marvel Universe, 
                    and has clashed with many heroes including the Avengers, the Guardians of the Galaxy, the Fantastic Four, and the X-Men. 
                    While usually portrayed as an evil-bent villain, many stories have alternatively depicted Thanos as having a twisted moral compass 
                    and thinking of his actions as justified. He has also joined forces with his enemies on several occasions, 
                    when the situation demanded it.</span></span><br>

                </div>

            </div>

            <div class="black_panther card">

                <div class="hero_img_div">

                    <img class="hero_img" src="https://static.wikia.nocookie.net/mua/images/f/fa/MUA3_Black_Panther.png/revision/latest?cb=20190622013215">

                </div>

                <div class="stats">

                    <span class="alias">Name: Black Panther</span><br>
                    <span class="attack">Attack: 70</span><br>
                    <span class="defense">Defense: 60</span><br>
                    <span class="card_cost">Cost: 2</span><br>
                    <span class="descr">Description:<br><span class="descr"></span>T'Challa is the King of Wakanda and the eldest child of T'Chaka and Ramonda. 
                    As the Wakandan monarch, he became the holder of the Black Panther mantle. Following the death of his father 
                    in the bombing attack orchestrated by Helmut Zemo, T'Challa had set out to kill the Winter Soldier, 
                    who was widely believed to be responsible for the attack. During his attempt to find the Winter Soldier, 
                    Black Panther had joined a Civil War between the Avengers, where he sided with Iron Man. 
                    However, Black Panther eventually learned that Zemo was really the one who had been responsible for his father's demise, 
                    as he captured Zemo, handing him over to Everett Ross, while he also vowed never to allow desires of vengeance to consume him again.</span></span><br>

                </div>

            </div>

            <div class="deadpool card">

                <div class="hero_img_div">

                    <img class="hero_img" src="https://pngimg.com/uploads/deadpool/deadpool_PNG95.png">

                </div>

                <div class="stats">

                    <span class="alias">Name: Deadpool</span><br>
                    <span class="attack">Attack: 60</span><br>
                    <span class="defense">Defense: 100</span><br>
                    <span class="card_cost">Cost: 4</span><br>
                    <span class="descr">Description:<br><span class="descr"></span>Deadpool is aware that he is a fictional comic book character. 
                    He commonly breaks the fourth wall, which is done by few other characters in the Marvel Universe, 
                    and this is used to humorous effect. He often has conversations with his two internal monologues, 
                    which are shown as caption boxes in his panels; in Deadpool Annual #1 (2014) it is revealed that Madcap, 
                    a foe of Captain America, is the psychotic voice appearing in white captions with a typewriter serif; 
                    the other voice is unidentified and often mistakenly attributed to Dr. Bong, Deadpool's former psychiatrist.</span></span><br>

                </div>

            </div>

            <div class="black_widow card">

                <div class="hero_img_div">

                    <img class="hero_img" src="https://i.pinimg.com/originals/68/2b/04/682b04cc22f2b09d09c5edb42bb1fbd6.png">

                </div>

                <div class="stats">

                    <span class="alias">Name: Black Widow</span><br>
                    <span class="attack">Attack: 60</span><br>
                    <span class="defense">Defense: 50</span><br>
                    <span class="card_cost">Cost: 1</span><br>
                    <span class="descr">Description:<br><span class="descr"></span>Natalia Alianovna "Natasha" Romanoff, 
                    also known as Black Widow (Russian: Наталья Альяновна "Наташа" Романова), was one of the most talented spies 
                    and assassins in the entire world and a founding member of the Avengers. Originally a KGB operative and dangerous assassin, 
                    Romanoff was recruited into S.H.I.E.L.D. by Clint Barton. Having extensive mastery in martial arts and armed with her Widow's Bite, 
                    Black Widow became one of S.H.I.E.L.D.'s most efficient agents. During one mission, she was sent undercover into Stark Industries 
                    to watch Tony Stark due to the fear that he was dying. During this mission, Romanoff assisted Stark with defeating Ivan Vanko's 
                    terrorist plots against him.</span></span><br>

                </div>

            </div>

            <div class="blade card">

                <div class="hero_img_div">

                    <img class="hero_img" src="https://static.wikia.nocookie.net/versus-compendium/images/a/ad/Blade.png/revision/latest?cb=20190721220804">

                </div>

                <div class="stats">

                    <span class="alias">Name: Blade</span><br>
                    <span class="attack">Attack: 75</span><br>
                    <span class="defense">Defense: 60</span><br>
                    <span class="card_cost">Cost: 2</span><br>
                    <span class="descr">Description:<br><span class="descr"></span>Blade (real name Eric Brooks), also known as the Daywalker, 
                    is a fictional comic book character, Superhero, a half-vampire hybrid and a vampire hunter of the Marvel Universe. 
                    Born Eric Brooks, he became a dhampir after the vampire Deacon Frost feasted on his mother while he was still in the womb. 
                    He was eventually trained to fight the undead, and would later become an ally of many superheroes in the Marvel Universe.</span></span><br>

                </div>

            </div>

            <div class="bishop card">

                <div class="hero_img_div">

                    <img class="hero_img" src="https://upload.wikimedia.org/wikipedia/en/3/32/Lucas_Bishop_X-Men.png">

                </div>

                <div class="stats">

                    <span class="alias">Name: Bishop</span><br>
                    <span class="attack">Attack: 90</span><br>
                    <span class="defense">Defense: 50</span><br>
                    <span class="card_cost">Cost: 4</span><br>
                    <span class="descr">Description:<br><span class="descr"></span>Bishop (real name Lucas Bishop) is a fictional superhero in Marvel comics and its universe, 
                    and appears mainly in the X-Men comics. He is an alpha-level mutant who has the ability to absorb energy 
                    and direct it towards his targets, and possess other abilities such as letting his "spirit go".
                    Bishop was a member of Xavier's Security Enforcers (initially called the Xavier School Enforcers), 
                    a mutant police force from a dystopian future of the Marvel Universe. He traveled to the 20th century and joined the X-Men, 
                    a team he knew only as legends. A brash antihero, he had difficulty adjusting to the norms of the time period. 
                    After a decade and a half of acting as a member of the team, Bishop was instead portrayed as one of the X-Men's main antagonists.</span></span><br>

                </div>

            </div>

            <div class="callisto card">

                <div class="hero_img_div">

                    <img class="hero_img" src="https://static.wikia.nocookie.net/marveldatabase/images/6/64/Callisto_%28Earth-1298%29_from_Mutant_X_Vol_1_9_0001.png/revision/latest?cb=20120406011409">

                </div>

                <div class="stats">

                    <span class="alias">Name: Callisto</span><br>
                    <span class="attack">Attack: 75</span><br>
                    <span class="defense">Defense: 70</span><br>
                    <span class="card_cost">Cost: 3</span><br>
                    <span class="descr">Description:<br><span class="descr"></span>Callisto is a mutant in the X-Men series. 
                    A mutant with superhumanly acute senses, Callisto is a superb hunter and tracker. 
                    Callisto banded together unwanted mutants society didn't accept and lived underneath the sewers of Manhattan called the Morlocks.
                    She then found Caliban, a mutant with psionic abilities to locate other mutants, 
                    using that power Callisto gathered together many other mutants. Although deposed as the Morlock leader by Storm, 
                    Callisto has often been her ally. Since she was taken to another dimension by Mikhail Rasputin, 
                    Callisto has shown a maternal devotion toward the young Gene Nation member known as Marrow.</span></span><br>

                </div>

            </div>

            <div class="magneto card">

                <div class="hero_img_div">

                    <img class="hero_img" src="https://static.wikia.nocookie.net/zlodei/images/a/ac/Magneto_Comics.png/revision/latest?cb=20161128055201&path-prefix=ru">

                </div>

                <div class="stats">

                    <span class="alias">Name: Magneto</span><br>
                    <span class="attack">Attack: 85</span><br>
                    <span class="defense">Defense: 55</span><br>
                    <span class="card_cost">Cost: 3</span><br>
                    <span class="descr">Description:<br><span class="descr"></span>Max Eisenhardt, aka "Magneto", the "Master of Magnetism"
                    is a powerful mutant with the ability to generate and control magnetic fields. Magneto regards mutants 
                    as evolutionary superior to humans and rejects the possibility of peaceful human-mutant coexistence; 
                    he aims to conquer the world to enable mutants, whom he refers to as Homo superior, to replace humans as the dominant species.</span></span><br>

                </div>

            </div>

            <div class="ant_man card">

                <div class="hero_img_div">

                    <img class="hero_img" src="https://lh3.googleusercontent.com/proxy/W96zxqcdm6cxBJjgr4HUa9M41uESnSkvlagPHkmswvkNDvOey1eHy6Z__MnyDtxQTqfLOnWrj8B_JPnFaRYK_jq8ysSH2AEck8IiGW3VkSlvK85O30j7xT47w1WQ_w">

                </div>

                <div class="stats">

                    <span class="alias">Name: Ant-Man</span><br>
                    <span class="attack">Attack: 70</span><br>
                    <span class="defense">Defense: 60</span><br>
                    <span class="card_cost">Cost: 2</span><br>
                    <span class="descr">Description:<br><span class="descr"></span>Scott Edward Harris Lang, also known as Ant-Man, 
                    is a major character of the Marvel Cinematic Universe. He is the titular protagonist of Ant-Man and its sequel Ant-Man and the Wasp, 
                    a major character of Captain America: Civil War, and the titular tritagonist of Avengers: Endgame. 
                    He will return in the third film, Ant-Man and the Wasp: Quantumania.</span></span><br>

                </div>

            </div>

            <div class="daredevil card">

                <div class="hero_img_div">

                    <img class="hero_img" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/820ad535-c310-4704-a9bc-eecf26bba444/d9zf42m-62987101-c7be-443e-9bb9-b0fbfdd3a5bf.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvODIwYWQ1MzUtYzMxMC00NzA0LWE5YmMtZWVjZjI2YmJhNDQ0XC9kOXpmNDJtLTYyOTg3MTAxLWM3YmUtNDQzZS05YmI5LWIwZmJmZGQzYTViZi5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.BwNUgX9d-3_UOVqQxQtYAAURimZtw-Gkqkpwa7NDB3E">

                </div>

                <div class="stats">

                    <span class="alias">Name: Daredevil</span><br>
                    <span class="attack">Attack: 55</span><br>
                    <span class="defense">Defense: 45</span><br>
                    <span class="card_cost">Cost: 1</span><br>
                    <span class="descr">Description:<br><span class="descr"></span>Matthew Michael "Matt" Murdock (also known by his alias Daredevil) 
                    is the titular protagonist of the superhero web television series Daredevil, as well as one of the main protagonists of The Defenders. 
                    He is a young man blinded as a boy but gifted with extraordinary senses, who dedicates his life to fight injustice in New York City 
                    as a lawyer by day, and by night as a vigilante.</span></span><br>

                </div>

            </div>

            <div class="black_bolt card">

                <div class="hero_img_div">

                    <img class="hero_img" src="https://static.wikia.nocookie.net/vsbattles/images/8/83/Black_Bolt_%28Earth-12131%29_001.png/revision/latest?cb=20150908015721">

                </div>

                <div class="stats">

                    <span class="alias">Name: Black Bolt</span><br>
                    <span class="attack">Attack: 45</span><br>
                    <span class="defense">Defense: 85</span><br>
                    <span class="card_cost">Cost: 3</span><br>
                    <span class="descr">Description:<br><span class="descr"></span>MBlack Bolt is the main protagonist of the ABC TV series, 
                    Marvel's Inhumans. He is the king of Attilan and the brother of Maximus. He has the power of Super sonic which causes him not to speak.
                    Black Bolt was the first son of Agon and the older brother of Maximus. Unlike his brother, Black Bolt did not want to be king. 
                    Upon gaining his powers, he founds out he got sonic powers resulting him not speaking forcing him to use sign language 
                    to communicate. Black Bolt accidently killed his parents due to Maximus manipulation. He become king and married Medusa.</span></span><br>

                </div>

            </div>

            <div class="domino card">

                <div class="hero_img_div">

                    <img class="hero_img" src="https://www.pngkey.com/png/full/234-2349678_domino-marvel-domino-x-force.png">

                </div>

                <div class="stats">

                    <span class="alias">Name: Domino</span><br>
                    <span class="attack">Attack: 65</span><br>
                    <span class="defense">Defense: 50</span><br>
                    <span class="card_cost">Cost: 2</span><br>
                    <span class="descr">Description:<br><span class="descr"></span>Domino, aka Neena Thurman, is a character from Marvel Comics. 
                    She is a mutant and mercenary who possesses the ability to manipulate probability in her favor, giving the effect of incredible luck.
                    Bred to be the ultimate weapon by a top-secret government facility, Domino's mutant ability was actually seen as a flaw. 
                    Fearing they'd kill her as a result, Domino's birth mother whisked her away to a church in Chicago, 
                    where she'd continue to live until becoming a mercenary in her adult years.</span></span><br>

                </div>

            </div>

            <div class="elektra card">

                <div class="hero_img_div">

                    <img class="hero_img" src="https://static.wikia.nocookie.net/vsbattles/images/4/49/Elektra_render2.png/revision/latest?cb=20180219205852">

                </div>

                <div class="stats">

                    <span class="alias">Name: Elektra</span><br>
                    <span class="attack">Attack: 65</span><br>
                    <span class="defense">Defense: 30</span><br>
                    <span class="card_cost">Cost: 1</span><br>
                    <span class="descr">Description:<br><span class="descr"></span>Elektra Natchios, mainly referred to as Elektra, 
                    is a fictional superheroine and anti-heroine from the Marvel Comics and Universe and is known to be an on-and-off ally 
                    and love-interest of the vigilante of Hell's Kitchen, Daredevil. Elektra has peek athletic abilities, martial arts skills, 
                    enhanced agility, and a master assassin. She also has been a member of the Heroes for Hire, Code Red, Red Hulk's Thunderbolts, S.H.I.E.L.D. and the Hand.</span></span><br>

                </div>

            </div>

        </div>

        <div class="buttons">

            <input class="goto_userinfo_button button" name="goto_userinfo_button" type="submit" value="Go back">

        </div>

    </form>

</body>

</html>