<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bestiary</title>

    <link rel="stylesheet" href="styles/main_objs.css">
    <link rel="stylesheet" href="styles/style.css">

</head>

<body>
    
    <form class="bestiary">

        <span class="main_text">Bestiary</span>

        <div class="cards">

            <div class="iron_man card">

                <img class="hero_img" src="https://upload.wikimedia.org/wikipedia/uk/1/16/%D0%97%D0%B0%D0%BB%D1%96%D0%B7%D0%BD%D0%B0_%D0%BB%D1%8E%D0%B4%D0%B8%D0%BD%D0%B0_%D0%9A%D0%92%D0%9C.png">
                
                <div class="stats">

                    <span class="alias">Name: Iron Man</span><br>
                    <span class="attack">Attack: 85</span><br>
                    <span class="defense">Defense: 90</span><br>
                    <span class="card_cost">Cost: 4</span><br>
                    <span class="descr">Description:<br><span class="descr">A wealthy American business magnate, playboy, philanthropist, 
                    inventor and ingenious scientist, Anthony Edward "Tony" Stark suffers a severe chest injury during a kidnapping. 
                    When his captors attempt to force him to build a weapon of mass destruction, 
                    he instead creates a mechanized suit of armor to save his life and escape captivity. Later, Stark develops his suit, 
                    adding weapons and other technological devices he designed through his company, Stark Industries. He uses the suit 
                    and successive versions to protect the world as Iron Man. Although at first concealing his true identity, 
                    Stark eventually publicly reveals himself to be Iron Man.</span></span><br>

                </div>

            </div>

            <div class="spider_man card">

                <img class="hero_img" src="https://lh3.googleusercontent.com/proxy/D9rdKvFUDa2cuyBV3jOO6HvjdPvd29GGVyzgdd_KBcGetwDY3a__3LBt0Ka5vTAFBxPQEVk4Z_JPrSV9zuP5XnwXD_xVqq5hx4pyrM6lmoLpOqKuPcGMNjk">

                <div class="stats">

                    <span class="alias">Name: Spider Man</span><br>
                    <span class="attack">Attack: 75</span><br>
                    <span class="defense">Defense: 80</span><br>
                    <span class="card_cost">Cost: 3</span><br>
                    <span class="descr">Description:<br><span class="descr"></span>Spider-Man is the alias of Peter Parker, 
                    an orphan raised by his Aunt May and Uncle Ben in New York City after his parents Richard 
                    and Mary Parker died in a plane crash. Lee and Ditko had the character deal with the struggles of adolescence 
                    and financial issues, and accompanied him with many supporting characters, such as J. Jonah Jameson, Harry Osborn, 
                    Max Modell, romantic interests Gwen Stacy and Mary Jane Watson, and foes such as Doctor Octopus, 
                    the Green Goblin and Venom. His origin story has him acquiring spider-related abilities 
                    after a bite from a radioactive spider; these include clinging to surfaces, superhuman strength and agility, 
                    and detecting danger with his "spider-sense." He then builds wrist-mounted "web-shooter" devices that shoot artificial spider-webbing of his own design.</span></span><br>

                </div>

            </div>

            <div class="super_man card">

                <img class="hero_img" src="https://static.wikia.nocookie.net/superman/images/b/b1/Superman_Action_976_Gary_Frank.png/revision/latest/scale-to-width-down/288?cb=20170501140424">

                <div class="stats">

                    <span class="alias">Name: Super Man</span><br>
                    <span class="attack">Attack: 100</span><br>
                    <span class="defense">Defense: 100</span><br>
                    <span class="card_cost">Cost: 6</span><br>
                    <span class="descr">Description:<br><span class="descr"></span>Sent as a baby to Earth from the dying planet Krypton, 
                    Kal-El was adopted by Martha and Jonathan Kent of Smallville, Kansas. Growing up as Clark Kent, 
                    he devoted his life to helping others with the abilities he developed from Earth's sun. Moving to Metropolis, 
                    he became Superman, while still maintaining his secret identity as Clark Kent, who works at the Daily Planet newspaper.</span></span><br>

                </div>

            </div>

            <div class="thor card">

                <img class="hero_img" src="https://static.wikia.nocookie.net/outlier-battles/images/c/ca/Thor-AOU-Render.png/revision/latest/scale-to-width-down/340?cb=20180605073900">

                <div class="stats">

                    <span class="alias">Name: Thor</span><br>
                    <span class="attack">Attack: 100</span><br>
                    <span class="defense">Defense: 90</span><br>
                    <span class="card_cost">Cost: 5</span><br>
                    <span class="descr">Description:<br><span class="descr"></span>Thor Odinson is the Asgardian God of Thunder, 
                    the former king of Asgard and New Asgard, and a founding member of the Avengers. When his irresponsible and 
                    impetuous behavior reignited a conflict between Asgard and Jotunheim, Thor was denied the right to become king, 
                    stripped of his power, and banished to Earth by Odin. While exiled on Earth, Thor learned humility, 
                    finding love with Jane Foster, and helped save his new friends from the Destroyer sent by Loki. 
                    Due to his selfless act of sacrifice, Thor redeemed himself in his father's eyes and was granted his power once more, 
                    which he then used to defeat Loki's schemes of genocide.</span></span><br>

                </div>

            </div>
            
            <div class="thor card">

                <img class="hero_img" src="https://static.wikia.nocookie.net/outlier-battles/images/c/ca/Thor-AOU-Render.png/revision/latest/scale-to-width-down/340?cb=20180605073900">

                <div class="stats">

                    <span class="alias">Name: Thor</span><br>
                    <span class="attack">Attack: 100</span><br>
                    <span class="defense">Defense: 90</span><br>
                    <span class="card_cost">Cost: 5</span><br>
                    <span class="descr">Description:<br><span class="descr"></span>Thor Odinson is the Asgardian God of Thunder, 
                    the former king of Asgard and New Asgard, and a founding member of the Avengers. When his irresponsible and 
                    impetuous behavior reignited a conflict between Asgard and Jotunheim, Thor was denied the right to become king, 
                    stripped of his power, and banished to Earth by Odin. While exiled on Earth, Thor learned humility, 
                    finding love with Jane Foster, and helped save his new friends from the Destroyer sent by Loki. 
                    Due to his selfless act of sacrifice, Thor redeemed himself in his father's eyes and was granted his power once more, 
                    which he then used to defeat Loki's schemes of genocide.</span></span><br>

                </div>

            </div>

        </div>

        <div class="buttons">

            <input class="goto_userinfo_button button" name="goto_userinfo_button" type="submit" value="Go back">

        </div>

    </form>

</body>

</html>