<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bestiary</title>

    <link rel="stylesheet" href="styles/main_objs.css">
    <link rel="stylesheet" href="styles/style.css">

</head>

<body>
    
    <form class="bestiary" method="post">

        <span class="bestiary_main_text">Your deck</span>
        

        <div class="deck_buttons">

            <input class="addcard_button button" name="addcard_button" type="submit" value="Add card">
            <input class="goto_userinfo_button button" name="goto_userinfo_button" type="submit" value="Go back">
            <input class="deletecard_button button" name="deletecard_button" type="submit" value="Delete card">

        </div>

    </form>

</body>

</html>