.opponent_side, .player_side {

    display: flex;
    flex-flow: row;

    height: 20vh;

    opacity: 0.9;
}

.opponent_side {

    background: linear-gradient(100deg, rgb(100, 0, 0) 0%, rgb(205, 0, 0) 80%);
}

.player_side {

    background: linear-gradient(60deg, rgb(0, 0, 100) 0%, rgb(0, 0, 205) 80%);
}

.board {

    height: 55vh;
    background: linear-gradient(130deg, rgb(60, 20, 0) 0%, rgb(130, 55, 5) 80%);

    opacity: 0.9;
}

.battle_buttons {

    height: 5vh;
    background: linear-gradient(130deg, rgb(10, 0, 75) 0%, rgb(65, 15, 105) 80%);

    opacity: 0.9;
}

.player_info {

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(130deg, rgb(40, 40, 40) 0%, rgb(90, 90, 90) 80%);
    width: 20%;
}

.battle_user_image {

    width: 100px;
    height: 150px;
}

.battle_buttons {

    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

.battle_button {

    width: 200px;
}

.leave_button {

    background: rgb(160, 0, 0);
}

.leave_button:hover {

    background: rgb(200, 0, 0);
}

.endturn_button {

    background: rgb(40, 175, 0);
}

.endturn_button:hover {

    background: rgb(50, 220, 0);
}